/* 단축 */
:root {
    --main-green-color: #4aa96c;
    --main-dark-color: #564a4a;
    --main-black-color: #000;
}

/* 초기 설정 */
@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "GmarketSansMedium", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: scroll;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

ul {
    list-style: none;
    padding-left: 0;
}

.section {
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 0 10%;
    min-height: 800px;
}

.container {
    text-align: center;
    font-size: 13px;
    margin: 100px auto;
}

a {
    text-decoration: none !important;
    color: var(--main-dark-color) !important;
}

.section-title {
    text-align: left;
}

.cards {
    padding: 13px !important;
    margin-top: 13px !important;
}

#main-body {
    margin-top: 120px;
    margin-bottom: 0;
}

.card {
    margin: auto;
    background-color: rgba(0, 0, 0, 0) !important;
    cursor: pointer;
}

.card-top {
    width: 70% !important;
    margin: auto;
}

.card-container {
    width: 80% !important;
    margin: auto !important;
}

/* 메인 상단 네비게이션 섹션 */
.main-top-navi {
    display: inline-flex;
    text-align: left;
    width: 100%;
}

/* 텍스트 검색 인풋 박스 */
.logo {
    margin-top: 60px;
}

.logo h1 {
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    margin: -10px;
}

.logo h1:first-child {
    color: var(--main-dark-color);
}

.logo h1:last-child {
    color: var(--main-green-color);
}

.search-box {
    margin: 60px auto;
    width: 90%;
    max-width: 700px;
    position: relative;
}

.search-input {
    width: 100%;
    height: 50px;
    padding-left: 50px;
    border-radius: 25px;
    padding-top: 5px;
}

.text-search-btn {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(0, -50%);
    z-index: 1;
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.text-search-btn img {
    width: 100%;
    height: 100%;
}

.text-result-section > h2 > b,
.text-result-section > h2 > i {
    font-weight: normal;
    font-style: normal;
    color: var(--main-green-color);
}

/*  다크모드 */
#dark {
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}

.dark-mode {
    text-align: left;
    display: inline-block;
}

.body {
    position: relative;
}

.dark-mode-btn {
    float: left;
    position: absolute;
    top: 30px;
    left: 30px;
    border: none;
    border-radius: 15px;
    padding: 2px;
    margin: 20px;
    background-color: var(--main-dark-color);
    color: #fff;
    width: 70px;
    display: inline-block;
}

/* 텍스트 검색 결과 섹션*/
.text-result-section {
    margin-top: 70px;
    display: none;
    max-width: 100%
}

.text-result-section h2 {
    margin-bottom: 30px;
}

.text-result {
    max-width: 25%;
}

/* 추천 게임 섹션 */
.recommend-box .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px !important;
}

.recommend-box {
    margin-top: 30px;
    margin-bottom: 100px;
}

.recommend-box h2 {
    margin-bottom: 30px;
}

.card-bottom {
    margin-top: 30px;
}

.game-title {
    margin: 0;
    font-size: 1.4em;
    font-weight: bold;
}

.card:hover {
    transition: 250ms;
    transform: scale(1.05);
}

.card {
    max-width: 250px;
    margin-bottom: 50px;
    border: none !important;
}

.card-img-top {
    max-width: 100%;
}

/* 키워드 검색페이지 */
#search {
    margin-bottom: 0;
    display: inline-block;
}

#section-2 {
    height: 70%;
    text-align: center;
}

.btn-section {
    width: 90%;
    margin: 40px auto;
    text-align: left;
}

.btn-section h5 {
    margin: 10px 0;
}

.select-btn {
    display: inline-block;
    border: 1px solid #3f3f3f;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 4px 2px;
    transition: 0.5s;
    background-color: #fff7f2;
}

.select-search-btn {
    display: block;
    width: 90%;
    padding: 15px;
    border-radius: 30px;
    background-color: var(--main-green-color);
    color: #fff !important;
    font-size: 20px;
    margin: auto auto 150px auto;
}

.btn-clicked {
    background-color: var(--main-green-color);
    border: 1px solid var(--main-green-color);
    color: #fff !important;
}

.btn-selected {
    background-color: var(--main-green-color);
    border: 1px solid var(--main-green-color);
    color: #fff !important;
}

#autoMaker {
    display: none;
    position: absolute;
    top: 40px;
    z-index: 5;
    width: 80%;
    margin-left: 30px;
    padding: 5px 0;
    text-align: left;
    border: 1px solid #000;
    background-color: #fff;
}

.hint {
    margin: 2px 10px;
}

.hint:hover {
    background-color: rgb(110, 110, 255);
    color: #fff;
}

/* 키워드 검색 결과 페이지 */
#cardHolder2 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px !important;
    align-content: flex-start;
}

.result {
    display: none;
    border: 1px solid rgba(0, 0, 0, 0);
    text-align: center;
    margin-top: 0;
}

.result h4 {
    margin: 20px 0;
}

.result h4 b {
    color: var(--main-green-color);
}

.not-found {
    margin: 325px auto;
}

#re-search {
    display: inline-block;
    background-color: var(--main-green-color) !important;
    border: 1px solid var(--main-green-color) !important;
    color: #fff !important;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 50px;
}

#cardHolder2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: auto;
    height: 550px;
    margin: 40px auto 50px auto !important;
}

/* 정렬 기능 섹션 */
#array {
    text-align: center;
}

.section-array {
    display: none;
    text-align: center;
    font-size: 13px;
}

.array-button-holder {
    width: 90%;
    background-color: var(--main-green-color);
    /*border: 1px solid none;*/
    border-radius: 30px !important;
    margin-bottom: 20px;
    padding: 9px;
    text-align: left;
    display: inline-block;
}

.section-array button {
    background: white;
    border: none;
    border-radius: 15px;
    padding: 5px 9px;
    margin-left: 10px;
}

/* 검색 결과 카드 섹션 */
.cards {
    text-align: center;
}

#cardHolder1,
#cardHolder2 {
    width: 90%;
    display: inline-flex;
    margin-bottom: 80px;
}

/* 소개 페이지 */
#section-4 {
    background-color: var(--main-green-color);
    overflow: hidden;
    display: flex;
    align-items: center;
}

#section-4 > div.container > h2 {
    text-align: left;
    margin-bottom: 40px;
}

.member-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.member {
    border: 1px solid black;
    margin: 10px 10px;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    width: 200px;
}

.member h6 {
    font-weight: bold;
}

.member b {
    color: seagreen;
}

.member b, span {
    display: block;
    margin: 10px 0;
}

.member a {
    display: inline-block;
    margin-top: 3px;
}

.intro-img {
    position: relative;
    animation: bounce 0.5s infinite linear;
}

.mobile-member {
    display: none;
    margin: auto;
}

.mobile-member {
    display: flex;
    justify-content: center;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    line-height: 0;
    margin: 170px auto;
}

.thumbnails li {
    flex: auto;
}

.thumbnails a {
    display: block;
}

.thumbnails img {
    width: 30px;
    object-fit: cover;
    object-position: top;
}

.slides {
    overflow: hidden;
    width: 75vmin;
    height: 50vmin;
    margin: auto;
}

.slides li {
    width: 75vmin;
    height: 50vmin;
    position: absolute;
    z-index: 1;
}

.slides li .member {
    object-fit: cover;
    object-position: top;
    height: 280px;
}

.slides li:target {
    z-index: 3;
    -webkit-animation: slide2 1s 1;
}

.slides li:not(:target) {
    -webkit-animation: hidden 1s 1;
}

@keyframes slide2 {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes hidden {
    0% {
        z-index: 2;
    }
    100% {
        z-index: 2;
    }
}

@keyframes bounce {
    0% {
        top: 0;
    }
    10% {
        top: 0;
    }
    50% {
        top: -5px;
    }
    70% {
        top: -20px;
    }
    100% {
        top: 0;
    }
}

/* 우측 네비게이션 */
.navi {
    position: fixed;
    right: 40px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 99;
    text-align: right;
    border-radius: 4px;
}

.navi:hover {
    transition: 500ms;
    /* padding: 10px; */
}

.navi svg {
    background-color: #fff;
    padding: 6px;
    border-radius: 12px;
    transition: 0.5s;
    border: 1px solid var(--main-green-color);
}

.navi svg:hover {
    fill: rgb(255, 196, 0);
}

ul#menu {
    padding: 0;
    margin: 0;
}

.navi li {
    margin: 20px 20px;
    list-style-type: none;
    display: block;
}

.navi li:hover {
    transform: scale(1.4);
    transition: 500ms;
    transition-duration: 500ms;
}

.navi li a:first-child {
    font-size: 12px;
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

.hide-nav {
    display: none;
}

.background-white {
    background-color: #4aa96c;
}

/* 모달창 */
.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}

.modal_content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*max-width: 60%;*/
    /*max-height: 60%;*/
    background-color: white;
    text-align: center;
    border-radius: 20px;
    border: 10px solid var(--main-green-color);
    box-shadow: 0 0 0 5px var(--main-green-color);
    padding: 30px 50px 30px 0;
}

/* 추가 정보 생성창 */
.content-inner {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 0.5fr;
}

.content-left {
    margin: 2em;
    max-width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.content-left__img {
    max-width: 80% !important;
    vertical-align: middle;
    margin: auto;
}

.content-left img {
    max-width: 80% !important;
    margin: auto;
}

.content-right {
    max-width: 100%;
}

.content-info {
    text-align: left;
}

.info-top {
    margin-bottom: 10px;
    text-align: right;
}

.info-content {
    max-font-size: 1.6em;
    margin-bottom: 1.8em;
    /*border-bottom: 1px solid silver;*/
}

.info-content:last-child {
    border-bottom: none;
}

.content-top__title {
    font-size: 1.8em;
    font-weight: bold;
    color: seagreen;
}

.content-rule {
    padding-right: 5px;
    color: var(--main-green-color)
}

.content-rule b {
    color: black;
}

.content_url svg {
    margin-left: 5px;
    padding-bottom: 2px;

}

.slides {
    display: none;
}

/* 좋아요, 댓글 기능 */
.content-bottom {
    text-align: left;
    margin-left: 10%;
    grid-column: -3/-1;
}

.content-interaction {
    display: grid;
    grid-template-rows: repeat(3, min-content);
}

.interaction-button > button {
    border: none;
    border-radius: 5px;
    background: tomato;
    color: white;
    padding: 5px;
    margin-right: 5px;
}

.interaction-input {
    width: 90%;
}

.interaction-input__comment {
    width: 90%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgb(255, 235, 233);
    padding-left: 10px;
}


.interaction-input > button {
    border: none;
    border-radius: 5px;
    background: tomato;
    color: white;
    padding: 5px;
    margin-left: 5px;
}

.interaction-comment {
    overflow: scroll;
    height: 100px;
}

.interaction-comment > li {
    display: flex;
    height: 20px;
}

.interaction-comment > li > span {
    margin-right: 7px;
}

@media (min-width: 427px) {
    .btn-section a:hover {
        background-color: var(--main-green-color);
        color: #fff !important;
        border: 1px solid var(--main-green-color);
    }
}

/* 로그인 버튼 */
.login {
    text-align: left;
    display: inline-block;
}

.body {
    position: relative;
}

@media (min-width: 427px) {
    .btn-section a:hover {
        background-color: var(--main-green-color);
        color: #fff !important;
        border: 1px solid var(--main-green-color);
    }
}

.login__btn {
    float: left;
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    border-radius: 15px;
    padding: 2px;
    margin: 20px;
    background-color: var(--main-green-color);
    color: #fff;
    width: 70px;
    display: inline-block;
}

/* 로그인 모달 */
.login__top, .join__top {
    float: right;
}

.login__form, .join__form {
    width: 100%;
    font-size: 14px;
}

.login__form > h4, .join__form > h4 {
    margin: 30px;
}

.login__form > div > label,
.join__form > div > label {
    display: none;
}

.login__form > div > input,
.join__form > div > input {
    border: 1px solid black;
    border-radius: 30px;
    margin: 5px;
    padding: 10px 10px 10px 20px;
}

.login__hint, .join__hint {
    font-size: 12px;
    color: darksalmon;
}

.login__form > button,
.join__form > button {
    margin: 15px 0 30px 0;
    padding: 5px 10px;
    border-radius: 20px !important;
    font-size: 12px !important;
}

/* 모바일사이즈 */
@media (max-width: 426px) {
    * {
        /*font-size: 100%;*/
    }

    #main-body {
        margin-top: 60px;
    }

    .container {
        margin: 15px auto;
        overflow: hidden;
    }

    .logo h2 {
        padding-bottom: 10px;
    }

    .search-box {
        margin: 40px auto 40px auto;
    }

    .section {
        min-height: 100vh;
    }

    #section-2 {
        padding-top: 100px;
    }

    #section-4 > div.container > h2 {
        margin-top: 200px;
    }

    /* 우측 네비게이션 */
    .navi {
        right: 5px !important;
        top: 85% !important;
    }

    .navi li {
        transform: scale(1.25);
    }

    .navi svg {
        background-color: #fff;
        padding: 6px;
        border-radius: 10px;
        transition: 0.5s;
        border: 1px solid var(--main-green-color);
        width: 25px;
        height: 25px;
    }

    .navi li a {
        font-size: xx-small !important;
    }

    .search-input {
        padding-left: 20px;
    }

    .col:first-child,
    .col:last-child {
        display: none;
    }

    .col img {
        width: 250px;
    }

    .card {
        width: 200px;
        text-align: center;
    }

    .game-title {
        font-weight: normal;
    }

    .section-title {
        font-size: 1.8em;
    }

    .category {
        font-size: 1.4em;
    }

    .btn-section {
        margin-top: 50px !important;
    }

    .select-search-btn {
        margin: 50px auto 150px auto;
    }

    .dark-mode-btn {
        float: left;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    /* 모달창 */
    .modal_content {
        /*max-width: 90%;*/
        max-height: 90%;
        padding: 5px 0;
        width: 90%;
    }

    .content-inner {
        max-width: 100%;
        display: grid;
        grid-template-rows: 300px 200px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        margin: 5px;
        position: relative;
    }

    .content-inner {
        grid-template-rows: 150px !important;
        margin: 0 20px;
    }

    .content-top__close {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    #recommend {
        grid-template-columns: repeat(4, 1fr) !important;
        overflow: scroll;
        width: 200px;
    }

    #recommend > div {
        animation: slide 15s infinite;
        padding-left: 40px;
    }

    @keyframes slide {
        0% {
            margin-left: 0;
        }
        /* 0 ~ 10  : 정지 */
        10% {
            margin-left: 0;
        }
        /* 10 ~ 25 : 변이 */
        25% {
            margin-left: -100%;
        }
        /* 25 ~ 35 : 정지 */
        35% {
            margin-left: -100%;
        }
        /* 35 ~ 50 : 변이 */
        50% {
            margin-left: -200%;
        }
        60% {
            margin-left: -200%;
        }
        75% {
            margin-left: -300%;
        }
        85% {
            margin-left: -300%;
        }
        100% {
            margin-left: 0;
        }
    }
    .recommend-box {
        margin-bottom: 0;
    }

    .info-top {
        text-align: right;
    }

    .info-content:last-child {
        border-bottom: none;
    }

    .content-top__title {
        font-size: 1.5em;
        font-weight: bold;
    }

    .content-rule {
        word-spacing: 6px;
    }

    .content-left {
        max-height: 200px;
    }

    .content-left__img {
        max-width: 100%;
        max-height: 100%;
        width: 150px;
    }

    .btn-section {
        margin: 0 25px 0 25px;
    }

    .section-array {
        margin: 0;
    }

    .array-button-holder {
        margin: 0;
    }

    #section-4 > div > h2 {
        margin-top: 0 !important;
    }

    #cardHolder2 {
        grid-template-columns: repeat(2, 1fr);
        overflow: auto;
        height: 500px;
        margin: 40px auto 50px auto !important;
        align-content: flex-start;
    }

    #newCard {
        width: 80%;
    }

    #newCard > div {
        padding: 0;
    }

    .member-container {
        display: none;
    }

    .mobile-member {
        display: block !important;
    }

    .mobile-member > ul.slides {
        padding-left: 2rem !important;
    }

    .not-found > h4 {
        font-size: 1.3em;
    }

    .slides {
        display: flex;
    }
}